/* HOVER EVENTS */

element:link {
}

element:visited {
}

element:hover {
}

element:active {
}

/* MEDIA QUERIES */

@media (hover: hover) and (pointer: fine) {
	[type='button']:hover {
		background: inherit;

		color: var(--theme-white);

		filter: brightness(150%);
	}

	[value='=']:hover {
		color: var(--theme-red);
	}
}

@media only screen and (min-width: 320px) {
	html {
		font-size: 12px;
	}
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
	html {
		font-size: 14px;
	}
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
	html {
		font-size: 16px;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background: var(--theme-grey);

		color: var(--theme-black);
	}

	.calculator {
		box-shadow: 0 0 15px 5px #00000040;
	}

	[type='button'] {
		background: var(--theme-white);
	}

	[value='C'] {
		color: var(--theme-red);
	}

	[value='DEL'] {
		color: var(--theme-red);
	}

	[value='='] {
		background: var(--theme-red);

		color: var(--theme-white);
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: var(--theme-black);

		color: var(--theme-white);
	}

	.calculator {
		box-shadow: 0 0 15px 5px #00000080;
	}

	.calculator__display::placeholder {
		color: var(--theme-grey);
	}

	[type='button'] {
		background: var(--theme-grey);
	}

	[value='='] {
		background: var(--theme-red);
	}

	@media (hover: hover) and (pointer: fine) {
		[type='button']:hover {
			background: inherit;

			color: var(--theme-white);
		}

		[value='C']:hover {
			color: var(--theme-red);
		}

		[value='DEL']:hover {
			color: var(--theme-red);
		}

		[value='=']:hover {
			color: var(--theme-red);

			filter: brightness(150%);
		}
	}
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transition-duration: 0s !important;
		transition-delay: 0s !important;
	}
}

@media print {
	*,
	*::before,
	*::after {
		background: #fff !important;
		box-shadow: none !important;
		color: #000 !important;
		text-shadow: none !important;
	}
}

@media print,
	(min-resolution: 1.25dppx),
	(min-resolution: 120dpi),
	(-webkit-min-device-pixel-ratio: 1.25) {
}

/* MODIFIER CLASSES */

.--clearFix::before,
.--clearFix::after {
	content: '';
	display: table;
}

.--clearFix::after {
	clear: both;
}

.--invisible {
	visibility: hidden;
}

.--hidden,
[hidden] {
	display: none !important;
}

.--partiallyHidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 0.1rem;
	margin: -0.1rem;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 0.1rem;
}

.--partiallyHidden.focusable:active,
.--partiallyHidden.focusable:focus {
	clip: auto;
	height: auto;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}

.--forcedUnselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.--forcedSelectable {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

.--scrollbarHidden {
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.targetClassName::-webkit-scrollbar {
	display: none;
}

.--isActive {
	background: inherit;
	color: var(--theme-white);
	filter: brightness(150%);
}

[value='='].--isActive {
	color: var(--theme-red);
}
