/* CUSTOM PROPERTIES */

:root {
	--button-height: 4.2rem;
	--button-margin: 0.32rem;
	--button-padding: 0.8rem;
	--button-width: 4.2rem;

	--light-floral-white: #fffffa;
	--nero-black: #232323;
	--nero-black-hover: hsla(0, 0%, 14%, 0.8);
	--nero: #7d7d7d;
	--nero-hover: hsla(0, 0%, 49%, 0.8);
	--nero-grey: #d5d5d5;
	--nero-grey-hover: hsla(0, 0%, 84%, 0.8);
	--theme-red: #a00;
	--theme-red-hover: hsla(0, 100%, 33%, 0.8);
}

* {
	box-sizing: border-box;
	padding: 0;
	position: relative;
}

body {
	align-items: center;
	background: var(--light-floral-white);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.6rem;
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}

/* CALCULATOR */

.calculator {
	border-radius: 0.8rem;
	box-shadow: 0 0 15px 5px #00000050;
	height: fit-content;
	padding: 1.6rem;
	text-align: center;
	width: fit-content;
}

/* DISPLAY */

.calculator__display {
	border: none;
	border-radius: 0.32rem;
	caret-color: transparent;
	font-size: 3.2rem;
	height: calc(var(--button-height) * 2);
	line-height: var(--button-height);
	margin-bottom: calc(var(--button-margin) * 3);
	padding: 0.8rem;
	resize: none;
	text-align: right;
	width: calc(var(--button-width) * 4 + var(--button-margin) * 8);
}

.calculator__display:focus {
	outline: none;
}

.calculator__display::placeholder {
	opacity: 50%;
}

.calculator__display::-webkit-scrollbar {
	display: none;
}

/* BUTTONS */

[type='button'] {
	border: none;
	border-radius: 50%;
	cursor: pointer;
	filter: brightness(90%);
	height: var(--button-height);
	margin: var(--button-margin);
	padding: 0.8rem;
	text-align: center;
	width: var(--button-width);
}

.zero__button {
	border-radius: 5rem;
	text-align: left;
	padding-left: calc(var(--button-width) / 2 - 0.56rem);
	width: calc(var(--button-width) * 2 + var(--button-margin) * 4);
}

.clear__button,
.clear__button:active,
.invert__button,
.invert__button:active,
.percent__button,
.percent__button:active,
.decimal__button,
.decimal__button:active {
	background: var(--nero-grey);
	color: var(--nero-black);
}

.digit,
.digit:active {
	background: var(--nero);
	color: var(--light-floral-white);
}

.operator,
.operator:active {
	background: var(--theme-red);
	color: var(--light-floral-white);
}

.--is-active {
	filter: brightness(110%);
}

/* MEDIA QUERIES */

@media (hover: hover) and (pointer: fine) {
	[type='button']:hover {
		filter: brightness(110%);
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: var(--nero-black);
		color: var(--light-floral-white);
	}

	.calculator__display {
		background: var(--nero);
		color: var(--light-floral-white);
	}

	.calculator__display::placeholder {
		color: var(--light-floral-white);
	}
}
