/* style.css - Customer Author Styles */

:root {
	--button-height: 4.2rem;
	--button-margin: 0.32rem;
	--button-padding: 0.8rem;
	--button-width: 4.2rem;

	--theme-black: #232323;
	--theme-white: #fffffa;
	--theme-grey: #d5d5d5;
	--theme-red: #a00;
}

body {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100vw;

	background: var(--theme-grey);

	color: var(--theme-black);

	font-size: 1.6rem;
}

.calculator {
	align-items: center;
	box-shadow: 0 0 15px 5px #00000040;
	display: flex;
	flex-wrap: wrap;
	height: 40rem;
	justify-content: center;
	padding: 0.8rem;
	width: 25rem;

	border-radius: 0.8rem;

	background: inherit;

	color: inherit;
	text-align: center;
}

.calculator__display {
	box-shadow: none;
	height: 20%;
	resize: none;
	width: 80%;

	border: none;

	background: inherit;

	caret-color: transparent;
	color: inherit;
	font-size: 3.2rem;
	line-height: var(--button-height);
	text-align: right;

	cursor: default;
}

.calculator__display:focus {
	outline: none;
}

.calculator__display::placeholder {
	color: inherit;

	opacity: 50%;
}

.calculator__display::-webkit-scrollbar {
	display: none;
}

/* BUTTONS */

[type='button'] {
	height: var(--button-height);
	margin: var(--button-margin);
	padding: var(--button-padding);
	width: var(--button-width);

	border: none;
	border-radius: 50%;

	background: var(--theme-white);

	color: var(--theme-black);
	font-size: 1.6rem;
	text-align: center;

	cursor: pointer;
}

[value='C'] {
	color: var(--theme-red);
}

[value='DEL'] {
	color: var(--theme-red);
	font-size: 1.2rem;
}

[value='='] {
	color: var(--theme-white);
	background: var(--theme-red);
}
