/* DEFAULT STYLES */

:root {
	--system-ui-fonts: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html {
	box-sizing: border-box;

	font-family: var(--system-ui-fonts);
	font-size: 62.5%;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	position: relative;
}

body {
	font-family: inherit;
	font-size: 1.6rem;
}

::selection,
::-moz-selection {
	background: #a00;

	text-shadow: none;
}

hr {
	display: block;
	height: 0.1rem;
	margin: 1.6rem 0;
	padding: 0;

	border: 0;
	border-top: 0.1rem solid #ccc;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
}

textarea {
	resize: vertical;
}

main {
	display: block;
}

h1 {
	margin: 1.064rem 0;

	font-size: 3.2rem;
}

hr {
	box-sizing: content-box;
	height: 0;

	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1.6rem;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: none;

	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1.6rem;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.4rem;
}

sup {
	top: -0.8rem;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;

	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	padding: 0;

	border-style: none;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 0.1rem dotted ButtonText;
}

fieldset {
	padding: 0.56rem 1.2rem 1rem;
}

legend {
	box-sizing: border-box;
	display: table;
	max-width: 100%;
	padding: 0;

	color: inherit;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type='checkbox'],
[type='radio'] {
	padding: 0;

	box-sizing: border-box;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -0.2rem;
}

[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

/* CUSTOM STYLES */

:root {
	--theme-black: #101010;
	--theme-white: #fcfcfc;
	--theme-grey: #d5d5d5;
	--theme-red: #a00;

	--button-height: 4.2rem;
	--button-margin: 0.32rem;
	--button-padding: 0.8rem;
	--button-width: 4.2rem;
}

body {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100vw;

	background: var(--theme-grey);

	color: var(--theme-black);
}

.calculator {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	height: 40rem;
	justify-content: center;
	padding: 0.8rem;
	width: 25rem;

	border-radius: 0.8rem;

	backdrop-filter: contrast(120%);

	color: inherit;
	text-align: center;
}

.calculator__display {
	box-shadow: none;
	height: 20%;
	resize: none;
	width: 80%;

	border: none;

	background: transparent;

	caret-color: transparent;
	color: inherit;
	font-size: 3.2rem;
	line-height: var(--button-height);
	text-align: right;

	cursor: default;
}

.calculator__display:focus {
	outline: none;
}

.calculator__display::placeholder {
	color: inherit;

	opacity: 50%;
}

.calculator__display::-webkit-scrollbar {
	display: none;
}

.calculator__button {
	height: var(--button-height);
	margin: var(--button-margin);
	padding: var(--button-padding);
	width: var(--button-width);

	border: none;
	border-radius: 50%;

	background: transparent;

	color: var(--theme-black);
	font-size: 1.6rem;
	text-align: center;

	cursor: pointer;
}

.calculator__button.--clear {
	color: var(--theme-red);
	font-size: 1.7rem;
}

.calculator__button.--delete {
	color: var(--theme-red);
	font-size: 1.4rem;
}

.calculator__button.--percent {
	font-size: 1.6rem;
}

/* MEDIA QUERIES (from here) */

@media (hover: hover) and (pointer: fine) {
	.calculator__button:hover {
		background: var(--theme-white);
	}

	.calculator__button.--equals:hover {
		background: var(--theme-red);

		color: var(--theme-black);
	}
}

.calculator__button:active,
.calculator__button.--equals:active {
	background: inherit;

	color: var(--theme-black);
}

.calculator__button.--isActive {
	background: var(--theme-white);
}

.calculator__button.--equals.--isActive {
	background: var(--theme-red);

	color: var(--theme-white);
}

@media (prefers-color-scheme: light) {
	body {
		background: var(--theme-grey);

		color: var(--theme-black);
	}

	.calculator {
		backdrop-filter: contrast(125%);
	}

	@media (hover: hover) and (pointer: fine) {
		.calculator__button:hover {
			background: var(--theme-white);
		}

		.calculator__button.--equals:hover {
			background: var(--theme-red);

			color: var(--theme-black);
		}
	}

	.calculator__button:active,
	.calculator__button.--equals:active {
		background: inherit;

		color: var(--theme-black);
	}

	.calculator__button.--isActive {
		background: var(--theme-white);
	}

	.calculator__button.--equals.--isActive {
		background: var(--theme-red);

		color: var(--theme-white);
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: var(--theme-black);

		color: var(--theme-white);
	}

	.calculator {
		backdrop-filter: contrast(85%);
	}

	.calculator__display::placeholder {
		color: var(--theme-grey);
	}

	.calculator__button {
		color: var(--theme-white);
	}

	@media (hover: hover) and (pointer: fine) {
		.calculator__button:hover {
			background: var(--theme-white);

			color: var(--theme-black);
		}

		.calculator__button.--clear:hover,
		.calculator__button.--delete:hover {
			color: var(--theme-red);
		}

		.calculator__button.--equals:hover {
			background: var(--theme-red);

			color: var(--theme-white);
		}
	}

	.calculator__button:active {
		background: inherit;

		color: var(--theme-white);
	}

	.calculator__button.--clear:active,
	.calculator__button.--delete:active,
	.calculator__button.--equals:active {
		color: var(--theme-red);
	}

	.calculator__button.--equals:active {
		background-color: var(--theme-black);
	}

	.calculator__button.--isActive {
		color: var(--theme-black);
	}

	.calculator__button.--clear.--isActive,
	.calculator__button.--delete.--isActive {
		color: var(--theme-red);
	}

	.calculator__button.--equals.--isActive {
		background: var(--theme-red);

		color: var(--theme-white);
	}
}

@media only screen and (min-width: 320px) {
	html {
		font-size: 12px;
	}
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
	html {
		font-size: 13px;
	}
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
	html {
		font-size: 14px;
	}
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation: none;
		transition-duration: 0s;
		transition-delay: 0s;
	}
}

/* UTILITY CLASSES */

.--hidden,
[hidden] {
	display: none !important;
}

.--invisible {
	visibility: hidden;
}

.--partiallyHidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;

	white-space: nowrap;

	overflow: hidden;
}

.--partiallyHidden.focusable:active,
.--partiallyHidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;

	white-space: inherit;
}

.--clearFix::before,
.--clearFix::after {
	display: table;

	content: '';
}

.--clearFix::after {
	clear: both;
}

.--forcedUnselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.--forcedSelectable {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

.--scrollbarHidden {
	-ms-overflow-style: none;
	scrollbar-width: none;

	overflow: auto;
}

.targetClassName::-webkit-scrollbar {
	display: none;
}
