/* Opinionated Base Styles */

html {
	font-size: 62.5%;
	line-height: 1.4;
}

/* Remove text-shadows during selection highlighting: https://twitter.com/miketaylr/status/12228805301 - and customize the background color to match your design */
::selection {
	background: #b3d4fc;

	text-shadow: none;
}

/* A better looking default horizontal rule */
hr {
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;

	border: 0;
	border-top: 1px solid #ccc;
}

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers: https://github.com/h5bp/html5-boilerplate/issues/440 */
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/* Remove default fieldset styles */
fieldset {
	margin: 0;
	padding: 0;

	border: 0;
}

/* Allow only vertical resizing of textareas */
textarea {
	resize: vertical;
}
