/* Helper Classes */

/* Hide visually and from screen readers */
.--hidden,
[hidden] {
	display: none !important;
}

/* Hide visually but be available to screen readers: https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
/* (1) For long content, line feeds are not interpreted as spaces and a small width causes content to wrap 1 word per line: https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe */
.--partiallyHidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px; /* (1) */

	white-space: nowrap;
}

/* Extends the .--partiallyHidden class to allow the element to be focusable when navigated to with a keyboard: https://www.drupal.org/node/897638 */
.--partiallyHidden.focusable:active,
.--partiallyHidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;

	white-space: inherit;
}

/* Hide visually and from screen but maintain layout */
.--invisible {
	visibility: hidden;
}

/* ClearFix contains floats */
/* The use of 'table' rather than 'block' is only necessary if using '::before' to contain the top-margin's of child elements */
.--clearFix::before,
.--clearFix::after {
	content: '';
	display: table;
}

.--clearFix::after {
	clear: both;
}

.--forcedUnselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.--forcedSelectable {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

.--scrollbarHidden {
	-ms-overflow-style: none;
	overflow: auto;
	scrollbar-width: none;
}

.targetClassName::-webkit-scrollbar {
	display: none;
}
