/* 

STYLESHEET ORDER

1. _default.css (include in final stylesheet)
2. _custom.css (include in final stylesheet)
3. _media.css (include in final stylesheet)
4. _utility.css (include in final stylesheet)
5. _print.css (load asynchronously)

*/

/* 

CLASS NAMING CONVENTION

.parentElements__childElements--utilityClasses {
	property-name: value;
}

*/

/*

PROPERTY ORDER

propertyTypes {
	box: ;

	border: ;

	background: ;

	text: ;

	other: ;
}

*/
